<% provide(:title, "Home") %>

<div class="center jumbotron">
<h1>Bienvenido#index</h1>
<h2>Lab. SaaS<h2>
<%= link_to "Google search...", "http://www.google.com/", target: "_blank", class: "btn btn-lg btn-primary" %>
</div>